{
    "metrics": [
        {
            "metricname": "{{ metricNames }}",
            "appid": "{{ appId }}",
            "hostname": "{{ hostname }}",
            "timestamp": "{{ timestamp }}",
            "starttime": "{{ startTime }}",
            "metrics": {{ metrics }}
        }
    ]
}