[
  {
    "dataMaskPolicyItems": [], 
    "name": "all - table, column-family, column", 
    "service": "Sandbox_hbase", 
    "isEnabled": true, 
    "allowExceptions": [], 
    "rowFilterPolicyItems": [], 
    "isAuditEnabled": true, 
    "policyType": 0, 
    "denyExceptions": [], 
    "denyPolicyItems": [], 
    "policyItems": [
      {
        "groups": [], 
        "conditions": [], 
        "users": [
          "hbase", 
          "ambari-qa"
        ], 
        "accesses": [
          {
            "isAllowed": true, 
            "type": "read"
          }, 
          {
            "isAllowed": true, 
            "type": "write"
          }, 
          {
            "isAllowed": true, 
            "type": "create"
          }, 
          {
            "isAllowed": true, 
            "type": "admin"
          }
        ], 
        "delegateAdmin": true
      }
    ], 
    "resources": {
      "column": {
        "isExcludes": false, 
        "values": [
          "*"
        ], 
        "isRecursive": false
      }, 
      "table": {
        "isExcludes": false, 
        "values": [
          "*"
        ], 
        "isRecursive": false
      }, 
      "column-family": {
        "isExcludes": false, 
        "values": [
          "*"
        ], 
        "isRecursive": false
      }
    }, 
    "description": "Policy for all - table, column-family, column"
  }
]
