{
  "dataMaskPolicyItems": {{ dataMaskPolicyItems | default([]) }}, 
  "name": "{{ policyName }}", 
  "service": "{{ serviceName }}", 
  "isEnabled": {{ isEnabled | default("true") }}, 
  "allowExceptions": {{ allowExceptions | default([]) }}, 
  "rowFilterPolicyItems": {{ rowFilterPolicyItems | default([]) }}, 
  "isAuditEnabled": {{ isAuditEnabled | default("true") }}, 
  "policyType": 0, 
  "denyExceptions": {{ denyExceptions | default([]) }}, 
  "denyPolicyItems": {{ denyPolicyItems | default([]) }}, 
  "policyItems": [
    {
      "groups": {{ groups }}, 
      "conditions": {{ conditions | default([]) }}, 
      "users": {{ users }}, 
      "accesses": {{ accesses }},
      "delegateAdmin": {{ delegateAdmin | default("false") }}
    }
  ], 
  "resources": {
    "path": {
      "isExcludes": {{ isExcludes | default("false") }}, 
      "values": {{ path }}, 
      "isRecursive": {{ isRecursive | default("true") }}
    }
  }, 
  "description": "{{ description }}"
}
