[
  {
    "dataMaskPolicyItems": [], 
    "name": "all - topic", 
    "service": "Sandbox_kafka", 
    "isEnabled": true, 
    "allowExceptions": [], 
    "rowFilterPolicyItems": [], 
    "isAuditEnabled": true, 
    "policyType": 0, 
    "denyExceptions": [], 
    "denyPolicyItems": [], 
    "policyItems": [
      {
        "groups": [], 
        "conditions": [], 
        "users": [
          "kafka"
        ], 
        "accesses": [
          {
            "isAllowed": true, 
            "type": "publish"
          }, 
          {
            "isAllowed": true, 
            "type": "consume"
          }, 
          {
            "isAllowed": true, 
            "type": "configure"
          }, 
          {
            "isAllowed": true, 
            "type": "describe"
          }, 
          {
            "isAllowed": true, 
            "type": "create"
          }, 
          {
            "isAllowed": true, 
            "type": "delete"
          }, 
          {
            "isAllowed": true, 
            "type": "kafka_admin"
          }
        ], 
        "delegateAdmin": true
      }
    ], 
    "resources": {
      "topic": {
        "isExcludes": false, 
        "values": [
          "*"
        ], 
        "isRecursive": false
      }
    }, 
    "description": "Policy for all - topic"
  }
]
