[
  {
    "dataMaskPolicyItems": [], 
    "name": "all - topology, service", 
    "service": "Sandbox_knox", 
    "isEnabled": true, 
    "allowExceptions": [], 
    "rowFilterPolicyItems": [], 
    "isAuditEnabled": true, 
    "policyType": 0, 
    "denyExceptions": [], 
    "denyPolicyItems": [], 
    "policyItems": [
      {
        "groups": [], 
        "conditions": [], 
        "users": [
          "admin", 
          "ambari-qa"
        ], 
        "accesses": [
          {
            "isAllowed": true, 
            "type": "allow"
          }
        ], 
        "delegateAdmin": true
      }
    ], 
    "resources": {
      "service": {
        "isExcludes": false, 
        "values": [
          "*"
        ], 
        "isRecursive": false
      }, 
      "topology": {
        "isExcludes": false, 
        "values": [
          "*"
        ], 
        "isRecursive": false
      }
    }, 
    "description": "Policy for all - topology, service"
  }
]
